$color-pink: #fcecee;
$color-brightpink: rgb(252, 236, 238);
$color-yellow: rgb(250, 248, 215);
$color-blue: #00c8f5;
$color-red: rgb(229, 125, 117);
$color-brown: rgb(200, 155, 53);
$color-darkbrown: rgb(139, 109, 37);
$color-primary: #ffa99f;

.font-pink { color: $color-pink; }
.font-brightpink { color: $color-brightpink; }
.font-yellow { color: $color-yellow; }
.font-blue { color: $color-blue; }
.font-red { color: $color-red; }
.font-brown { color: $color-red; }
.font-darkbrown { color: $color-darkbrown; }
.font-price {
    font-family: 'Lato', sans-serif;
    color: #b12704;
    font-weight: 700;
}
.font-primary { color: $color-blue; }
.bg-pink { background-color: $color-pink; }
.bg-yellow { background-color: $color-yellow; }
.bg-blue { background-color: $color-blue; }
.bg-red { background-color: $color-red; }
.bg-brown { background-color: $color-brown; }
.bg-primary { background-color: $color-primary; }

body {
    font-family: ヒラギノ角ゴ Pro,Hiragino Kaku Gothic Pro,Hiragino Sans,Noto Sans CJK JP,Osaka,Meiryo,メイリオ,MS PGothic,ＭＳ Ｐゴシック,YuGothic,Yu Gothic,Hiragino Sans GB,Helvetica Neue,HelveticaNeue,Helvetica,Noto Sans,Roboto,Arial,Arial Unicode MS,sans-serif;
}

.popUpMenu {
    li {
        padding: 14px 30px;
    }
}

.top-logo {
    height: 110px;
    span {
        font-size: 9px;
    }
}

.campaign {
    img {
        width: 48%;
    }
}

.font-alert {
    color: #b12704;
}

.subcats {
    li {
        font-size: 14px;
        line-height: 2rem;
    }
}

.paginationContainer {
    margin-top: 40px;
    margin-bottom: 40px;
}

footer {
    p {
        font-size: 12px;
    }
}

.table-layout {
    display: table;
    border-collapse: collapse;
    div {
        display: table-cell;
    }
}

.swiper {
    max-width: 90%;
    height: 300px;
}

.swiper-button-next,
.swiper-button-prev {
    --swiper-navigation-color: gray;
}

@media screen and (min-width: 768px) {
    main {
        margin: 0 auto;
    }

    .under-top-nav {
        li {
            border-left: white 2px solid;
            text-align: center;
        }
    }

    .campaign {
        img {
            width: auto;
        }
    }
    
}
