[x-cloak] { display: none !important; }

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.font-railway {
    font-family: 'Raleway', sans-serif;
}

$color-pink: #fcecee;
$color-brightpink: rgb(252, 236, 238);
$color-yellow: rgb(250, 248, 215);
$color-blue: #00c8f5;
$color-red: rgb(229, 125, 117);
$color-brown: rgb(200, 155, 53);
$color-darkbrown: rgb(139, 109, 37);
$color-primary: #ffa99f;

.font-pink { color: $color-pink; }
.font-brightpink { color: $color-brightpink; }
.font-yellow { color: $color-yellow; }
.font-blue { color: $color-blue; }
.font-red { color: $color-red; }
.font-brown { color: $color-red; }
.font-darkbrown { color: $color-darkbrown; }
.font-price { color: #b12704; font-weight: 700; }
.font-primary { color: $color-primary; }
.bg-pink { background-color: $color-pink; }
.bg-yellow { background-color: $color-yellow; }
.bg-blue { background-color: $color-blue; }
.bg-red { background-color: $color-red; }
.bg-brown { background-color: $color-brown; }
.bg-primary { background-color: $color-primary; }

.label-extra-small { 
    font-size: 10px;
    line-height: 12px;
}

body {
    font-family: ヒラギノ角ゴ Pro,Hiragino Kaku Gothic Pro,Hiragino Sans,Noto Sans CJK JP,Osaka,Meiryo,メイリオ,MS PGothic,ＭＳ Ｐゴシック,YuGothic,Yu Gothic,Hiragino Sans GB,Helvetica Neue,HelveticaNeue,Helvetica,Noto Sans,Roboto,Arial,Arial Unicode MS,sans-serif;
}

.navigation-header {
    height: 65px;
}

.shoppingcart-counter {
    position: absolute;
    top: -5px;
    right: -5px;
    color: white;
    font-size: 10px;
    padding: 1px 6px;
    background-color: #b12704;
    border-radius: 20px;
    min-width: 1rem;
}

.popUpMenu {
    li {
        padding: 14px 30px;
    }
}

.top-logo {
    height: 110px;
    span {
        font-size: 9px;
    }
}

.campaign {
    img {
        width: 48%;
    }
}

.categories {
    li {
        border-bottom: lightgray 1px solid;
        padding: 10px 10px;
    }
    li:first-child {
        border-top: lightgray 1px solid;
    }
}

.font-alert {
    color: #b12704;
}

aside {
    width: 100%;
}

article {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: flex;
    align-items: center;
}

.slick-arrow {
    width: 30px;

    border: lightgray 1px solid;
    border-radius: 4px;
}

.slick-list {
    margin: 0 4px;
}

.slick-slide {
    padding: 0 4px;
}

.subcats {
    li {
        font-size: 14px;
        line-height: 2rem;
    }
}

.paginationContainer {
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    p {
        font-size: 12px;
    }
}

@media screen and (min-width: 768px) {
    aside {
        width: 256px;
    }

    article {
        max-width: 900px;
    }

    .slick-slider {
        width: 700px;
    }

    .under-top-nav {
        li {
            border-left: white 2px solid;
            text-align: center;
        }
    }

    .campaign {
        img {
            width: auto;
        }
    }
    
}
